#carouselExampleIndicators{
    margin: 2%;

  }

  

.col{
    margin-left: 10%;
    margin-right: 10%;
  }

#imagenes_c{
	height: 600px;

}

@if $enable-transitions {
	@keyframes progress-bar-stripes {
	  0% { background-position-x: $progress-height; }
	}
  }